<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <header th:insert="fragments/header::header"></header>
    <h1>Школа Чародейства и волшебства Хогвартс.</h1>
    <h2>Краткое описание.</h2>
    <p style="font-size: 14px;">
    Джоан Роулинг в интервью охарактеризовала Хогвартс как «огромный, беспорядочно построенный, довольно устрашающего вида замок с путаницей башенок и зубчатых стен.
    Подобно дому Уизли, это здание не могло бы быть построено маглами, потому что оно поддерживается магией».
    Во второй книге рассказывается, что Гарри с Роном во время полёта в Хогвартс на заколдованной машине мистера Уизли двигались строго на север, а значит, Хогвартс расположен к северу от Лондона. Согласно другому интервью, Хогвартс находится где-то в Шотландии.
    Замок окружён горами. Многочисленные заклинания в школе и вокруг неё делают невозможным для магла найти школу: всё, что может увидеть магл — это развалины и табличка «Keep out» («Опасно»). На территории школы, кроме замка, есть горное озеро, большой лес, называемый Запретным из-за живущих там опасных существ (в частности, гигантских пауков (Акромантулов) и кентавров, оранжереи, совятник, избушка лесничего и поле для игры в Квиддич. В замке находятся 142 лестницы, он увешан картинами, персонажи которых ходят друг к другу в гости.
    Некоторые двери в замке открываются, только если их коснуться в определённом месте, другие — если их вежливо попросить, третьи двери фальшивые, а за ними — стена.
    Трансгрессия в Хогвартс и из Хогвартса невозможна, но этот запрет может быть снят на ограниченное время в ограниченном пространстве. Электронные приборы на территории Хогвартса не работают. В книге «Гарри Поттер и Кубок огня» Гермиона объясняет, что причина — в высоком уровне магии на территории школы. Однако, в школе есть радио для волшебников, работающее на магии, а не на электричестве.
    Кроме того, профессор Слизнорт в свободное от работы время слушает у себя в кабинете старенький граммофон.
    Ближайшим населённым пунктом является деревушка Хогсмид — единственная в Великобритании, где живут только волшебники. Также Хогсмид — название не только деревни, но и ближайшей к Хогвартсу железнодорожной станции, на которую прибывает поезд «Хогвартс Экспресс» (см. ниже). На карте, которую Дж. К. Роулинг нарисовала для съёмок фильмов по своим книгам, станция находится к юго-востоку от школы, а деревня Хогсмид — к северо-западу.
    Девиз Хогвартса — «Draco dormiens nunquam titillandus!», что на латыни означает «Никогда не щекочи спящего дракона!».
    </p>

    <footer th:insert="fragments/footer::footer"></footer>
</body>
</html>